body{
  max-width: 90vw;
}

textarea{
  resize: none;
  width: 100%;
}


form{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 0.5rem;
}

label p {
  text-align: left;
  margin: 0.5rem 0 0 0;
}

label{
  width: 100%;
}

input[type=number] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button{
  border-radius: 4px;
  border: 1px solid #303030;
}

input{
  text-align: left;
  width: 100%;
  background-color: #ffffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  height: 1.5rem;
  border: 1px solid black;
  padding: 0.2rem;
}

input:focus-within{
  border: 2px solid #007bff;
  box-shadow: 0 0 8px rgba(0,123,255,0.3);
  outline: none;
  background-color: #f0f4f8;
}

#root {
  min-width: 100%;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container{
  display: flex;
  
  width: 100%;
  padding: 1rem;
}

.input-section{
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.gen-info, .work-info, .educ-info{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 60%;
  border-radius: 8px;
  border: 1px solid black;
}

.input-section div h2{
  align-self: baseline;
}

.output-section{
  border: 1px solid black;
  width: 500px;
  height: 700px;
  padding: 1rem;
  text-align: start;
}

.personal-info, .experience, .education{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.name{
  font-size: 2rem;
  margin: 0;
}

.experience{
  
}

.subtitle{
  font-size: 1.3rem;
  margin: 0;

}

.grid{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  width: 100%;
}


.major{
  font-size: 1.2rem;
  font-weight: bold;
}

.minor{
  font-style: italic;
}

.desc{
  font-size: 0.9rem;
}

.buttons{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.delete{
  margin: 1rem 0; 
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.save-edit{
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 0.5rem;
  margin: 1rem 0;
}

.save{
  background-color: #187ff5;
  color: #ffffffff;
  border-width: 0;
}

.save:focus-visible{
  border: 0 solid black
}